.about {
  background-color: black;
  color: white;
  height: 100vh;
}

.about-wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.about-content {
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
}

.about-content h1 {
  margin: 0;
  padding: 10px;
}

.about-content p {
  text-align: justify;
  line-height: 2;
  font-size: 1.2rem;
}

.about-img {
  background-image: url("../assets/thao-lee-XeBk0qF77_4-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 50px;
}

@media screen and (max-width: 768px) {
  .about-wrapper {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .about-img {
    margin: 10px;
  }
}
