.training {
  min-height: 100vh;
  background-color: black;
  color: white;
}

.training h1 {
  padding: 0px;
  margin: 0;
  margin-top: 80px;
  margin-bottom: 80px;
}

.training-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.training-wrapper > * {
  margin: 20px;
}

.training-content {
  height: 600px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 10px;
}

.training-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 300px;
}

.training-content h4 {
  margin: 20px;
  font-size: 1.4rem;
}

.training-content p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
}

.training-picture {
  height: 300px;
  width: 300px;
  background-image: url("../assets/thao-lee-SGiiZ4EJpbo-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.two {
  background-image: url("../assets/english.jpg");
}

.three {
  background-image: url("../assets/hero-6.jpg");
}

@media screen and (max-width: 1020px) {
  .training-content {
    height: 700px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 10px;
  }
  .training-picture {
    height: 400px;
    width: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 635px) {
  .training-content {
    height: 600px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 10px;
  }
  .training-picture {
    height: 300px;
    width: 280px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
